<!DOCTYPE html>

<html>
    <head>
        <title>Error</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="img/weather.png">
    </head>
    <body>
        <div class="mainflex">
            {{>header}}
            <h1>{{error}}</h1>
        </div>

        {{>footer}}
    </body>
</html>