<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="mainflex">
            {{>header}}
            <p> This site uses data provided by <A href="http://mapbox.com">mapbox.com</A> and <a href="http://weatherstack.com">weatherstack.com</a></p>
            <h1>This site was made by {{name}}</h1>
            <img class="portrait" src="/img/robot.png">
        </div>
        {{>footer}}
    </body>
</html>