<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="img/weather.png">
    </head>
    <body>
        <div class="mainflex">
            {{>header}}
            <p>This is some helpful text.</p>
        </div>
        {{>footer}}
    </body>
</html>